# Virtual environment
.venv/

# Python cache and bytecode
__pycache__/
*.pyc

# Build artifacts
dist/
build/
*.egg-info/

# Editor/OS specific files (examples)
.DS_Store
.idea
.vscode/


# My project

log/

data/baby 
data/clothing 
data/elec 
data/sports


src/models/bm3.py 
src/models/bpr.py 
src/models/damrs.py 
src/models/dragon.py 
src/models/dualgnn.py 
src/models/freedom.py 
src/models/grcn.py 
src/models/itemknncbf.py 
src/models/lattice.py 
src/models/layergcn.py 
src/models/lgmrec.py 
src/models/lightgcn.py 
src/models/mgcn.py 
src/models/mmgcn.py 
src/models/mvgae.py 
src/models/selfcfed_lgn.py 
src/models/pgl.py 
src/models/slmrec.py 
src/models/smore.py 
src/models/vbpr.py

src/configs/model/BM3.yaml 
src/configs/model/BPR.yaml 
src/configs/model/DAMRS.yaml 
src/configs/model/DRAGON.yaml 
src/configs/model/DualGNN.yaml 
src/configs/model/FREEDOM.yaml 
src/configs/model/GRCN.yaml 
src/configs/model/ItemKNNCBF.yaml 
src/configs/model/LATTICE.yaml 
src/configs/model/LayerGCN.yaml 
src/configs/model/LGMRec.yaml 
src/configs/model/LightGCN.yaml 
src/configs/model/MGCN.yaml 
src/configs/model/MMGCN.yaml 
src/configs/model/MVGAE.yaml 
src/configs/model/PGL.yaml 
src/configs/model/SELFCFED_LGN.yaml 
src/configs/model/SLMRec.yaml 
src/configs/model/SMORE.yaml 
src/configs/model/VBPR.yaml